*{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgb(240,240,240);
	font-family: Verdana, Arial, sans-serif;
}
header{
	height: 4em;
}
.user, .users{
	margin: 0 auto;
	border: 1px solid black;
	background-color: rgb(250,250,250);
	
}
.user{
	width: 20em;
	padding: 4em 4em;
}
.users{
	padding: 4em 2em;
	max-width: 70vw;
}
.user h1, .users h1{
	margin-bottom:  1em ;
}
.user p{
	margin: .5em 0;
}
input[type='text']{
	width: 100%;
	display: block;
}
table{
	width: 100%;
}

th{
	text-align: left;
}
td, th{
	outline: 1px solid silver;
	height: 2em;
	padding-left: .5em;
}
td a{
	margin-right: .5em;
}
.controls{
	text-align: center;
	margin: 1em 0;
}
.controls a{
	text-transform: uppercase;
}

input[type='submit']{
	padding: .25em .75em;
	margin-top: .5em;
}