<!DOCTYPE html>
<html>
<head>
	<title>Edit User {{user['id']}}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<header></header>

	<article class='user'>
	<h1>Edit User {{user['id']}}</h1>
	<form action='/users/{{user["id"]}}', method='POST'>
		<p>First Name: <input type="text" name="first_name" value="{{user['first_name']}}"> </p>

		<p>Last Name: <input type="text" name="last_name" value="{{user['last_name']}}"> </p>

		<p>Email: <input type="text" name="email" value="{{user['email']}}"> </p>
		
		<input type="submit" value="Submit">
	</form>
	</article>

<section class='controls'>
	<a href="/users/{{user['id']}}">Show</a> | 
	<a href="/users">Home</a>
</section>
</body>
</html>
